# dev
.VSCodeCounter
dist
draft
tests_report

# python
__pycache__
.coverage
.pixi
*.egg-info
*.pyd
crates/py-geotool/doc/build
crates/py-geotool/doc/source/reference/api

# rust
target

#vcpkg
vcpkg_deps/vcpkg
vcpkg_deps/vcpkg_installed
