# cuda
*.ptx

# dev
.VSCodeCounter
dist
draft
tests_report

# python
__pycache__
.coverage
.pixi
*.egg-info
*.pyd
src/rust/pyxis-py/doc/build
src/rust/pyxis-py/doc/source/reference/api
diff.md

# rust
target
lcov.info

#vcpkg
vcpkg_deps/vcpkg
vcpkg_deps/vcpkg_installed

#misc
proj.db

# cmake
build

# rattler
src/ratter/**/output