# dev
.VSCodeCounter
dist
draft
tests_report

# python
__pycache__
.coverage
.pixi
*.egg-info
*.pyd
crates/py-pyxis/doc/build
crates/py-pyxis/doc/source/reference/api
diff.md

# rust
target

#vcpkg
vcpkg_deps/vcpkg
vcpkg_deps/vcpkg_installed

#misc
proj.db
