[workspace]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64", "linux-aarch64"]

[feature.py313.dependencies]
python = "3.13.*"

[feature.build.dependencies]
maturin = "==1.9.6"
pip = "==25.2"
rattler-build = "==0.49.0"

[feature.deps.dependencies]
lazy-loader = "==0.4"
nomkl = "==1.0"
numpy = "2.3.*"
scipy = "==1.16.3"

[feature.test.dependencies]
pytest = "==9.0.0"
pytest-cov = "==7.0.0"

[feature.doc.dependencies]
autodocsumm = "==0.2.14"
pydata-sphinx-theme = "==0.16.1"
sphinx = "==8.2.0"
sphinx-autosummary-accessors = "==2025.3.1"
sphinx-copybutton = "==0.5.2"

[feature.bench]
platforms = ["linux-64"]
[feature.bench.dependencies]
numba = "==0.62.1"
numexpr = "==2.14.1"
pytest-codspeed = "==4.2.0"

[environments]
bench = ["py313", "build", "test", "deps", "bench"]
default = ["py313", "build", "deps", "test", "doc"]
