name: python

on:
  workflow_dispatch:
  workflow_call:
permissions: read-all
env:
  PYTHON_ROOT: ${{github.workspace}}/python
jobs:
  sphinx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false
      - uses: dtolnay/rust-toolchain@stable

      - name: sphinx build
        run: ${{env.PYTHON_ROOT}}/scripts/sphinx.ps1
        shell: pwsh

  rattler-build:
    env:
      PYTEST_ADDOPTS: "--color=yes"
    strategy:
      fail-fast: false
      matrix:
        machine: [windows-latest, ubuntu-latest,ubuntu-24.04-arm]
        include:
          - machine: windows-latest
          - machine: ubuntu-latest
          - machine: macos-latest

    runs-on: ${{matrix.machine}}
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - name: build
        run: ${{env.PYTHON_ROOT}}/rattler/ci-pyxis-py.ps1
        shell: pwsh

      - name: Upload results to Codecov
        if: ${{ !cancelled()}}
        uses: codecov/codecov-action@v5
      - name: Upload test results to Codecov
        if: ${{ !cancelled()}}
        uses: codecov/test-results-action@v1
        with:
          fail_ci_if_error: true
