name: rust

on:
  workflow_dispatch:
  workflow_call:

permissions: read-all

env:
  RUST_ROOT: ./rust

jobs:
  cargo-test:
    strategy:
      fail-fast: false
      matrix:
        machine: [windows-latest, ubuntu-latest, macos-latest, ubuntu-24.04-arm]
    runs-on: ${{matrix.machine}}
    steps:
      - if: ${{contains(matrix.machine,'ubuntu')}}
        run: |
          sudo apt-get update
          sudo apt install -y libudev-dev libc6-dev
      - uses: actions/checkout@v6
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - uses: dtolnay/rust-toolchain@nightly

      - name: cargo-test
        run: |
          git submodule update --init --recursive
          pixi run test
        shell: pwsh
        working-directory: ${{env.RUST_ROOT}}

      - name: Upload results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results
          fail_ci_if_error: true
  cargo-doc:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-Dwarnings"
    steps:
      - run: |
          sudo apt update
          sudo apt install -y libudev-dev libc6-dev
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false
      - name: cargo-doc
        run: ${{env.RUST_ROOT}}/scripts/cargo-doc.ps1
        shell: pwsh
