name: CI

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
    paths-ignore:
      - "*.md"
  schedule:
    - cron: 0 16 * * *

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changed:
    outputs:
      changed-csharp: ${{steps.main.outputs.csharp_any_changed }}
      changed-python: ${{steps.main.outputs.python_any_changed}}
      changed-rust: ${{steps.main.outputs.rust_any_changed}}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        if: ${{github.event_name == 'pull_request'}}
      - id: main
        uses: tj-actions/changed-files@v47
        if: ${{github.event_name == 'pull_request'}}
        with:
          files_yaml: |
            python:
              - ./.github/workflows/ci-python.yml
              - ./python/**
            rust:
              - ./.github/workflows/ci-rust.yml
              - ./rust/**

  python:
    needs: changed
    if: ${{ needs.changed.outputs.changed-python != 'false' }}
    uses: ./.github/workflows/ci-python.yml

  rust:
    needs: changed
    if: ${{ needs.changed.outputs.changed-rust != 'false' }}
    uses: ./.github/workflows/ci-rust.yml
