name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: "Tag to release (e.g., v1.2.3)"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
jobs:
  release:
    permissions:
      contents: write
    uses: Glatzel/template/.github/workflows/release.yml@main
    with:
      override: true
      tag: ${{inputs.tag}}
      have-changelog: true
      assets: false
